<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
  </head>


    <div class="row justify-content-md-center">
      
        
      <div class="col-md-9">
        <img src="https://pbs.twimg.com/profile_images/1080483700104708096/8Rr5M4AR_400x400.jpg" class="user-avatar" width="150px"/>
        
        <h1>Recetario </h1>
        
        <input class="form-control" type="number" placeholder="Igrese el numero de personas" [(ngModel)]="pax">
        <pre>
        

      </pre>
            <table class="table" *ngFor="let r of receta">
              
                <thead>
                  <h2>{{r.recipe_name}}</h2 >
                <tr>
                    <th>No.Personas: {{r.pax}}</th>
                    
                    <th></th>
                    <th></th>
                    <th></th>
                    
                 
                 
                </tr>
                </thead >
                <tbody>
                <tr >
                
                <td>TECNICA : {{r.technique_name}}</td>
                <td>PREPARACION : {{r.preparedness}}</td>

                </tr>

                
               
              
                </tbody>
            </table>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-9">
           
      
          <table class="table" *ngFor="let r of receta" >
              <thead>
                
                

              <tr>
                                    
                  <th>Ingredientes</th>
                  <th>Unidad</th>
                  <th>Cantidad</th>
                  <th>Cantidad aproximada </th>
                  
               
               
              </tr>
              </thead >
              <tbody>
              <tr *ngFor="let d of detalle">
              
              <td>{{d.product_name}}</td>
              <td>{{d.unity}}</td>
              <td>{{d.quantity}}</td>
              <td>{{d.quantity/r.pax*pax}}</td>

              </tr>

              
             
            
              </tbody>
          </table>
  </div>
</div>


